<div> 
<%= @player_1_name %>: <%= Player::DEFAULT_POINTS %>
<%= @player_2_name %>: <%= Player::DEFAULT_POINTS %>
</div>

<h1>Player 1 attacked player 2!</h1>
<h2>Player 2 lost 20 HP</h2>

<div>
	<img src= 'http://cdn.ebaumsworld.com/mediaFiles/picture/1969178/81467914.jpg'>
</div>