<h1>Commence Battle!</h1>
<h2>Sign in to play...</h2>
<form action="/names" method="post">
<label for="player_1_name">
	Player 1 (Superman)
<input type="text" name="player_1_name">
</label>

<label for="player_2_name">
	Player 2 (Batman)
<input type="text" name="player_2_name">
</label>

<input type="submit" value="Submit">

</form>

<div>
	<img src= 'http://www.ew.com/sites/default/files/styles/tout_image_612x380/public/i/2012/08/27/superhero-bracket-final.jpg?itok=moHjGtjm'  width="700" height="320" >
</div>