
<h1>Time for some payback!</h1>
<h2>Batman's turn to attack Superman</h2>
<h2>Player 2's turn</h2>

<div>
	<img src= 'https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR0nWw1iTvmnVoe9z-oGr4gH9Dw24sptamj3fhiRvzMt8KFFjfD' width="700" height="320">
</div>


<div>
	<h2>
<%= @player_1_name.name %>: <%= @player_1_name.hp %>HP <%= @player_2_name.name %>: <%= @player_2_name.hp %>HP
<h2>
</div>


